* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
p {
  color: #c6c6c6;
}
nav {
  min-height: 10vh;
  background-color: #f2f2f2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav h1 {
  font-weight: normal;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav li {
  padding: 0rem 0.5rem;
}
nav a {
  text-decoration: none;
  color: gray;
}
nav a:hover {
  color: #000;
}

section {
  padding: 10vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
section h1 {
  margin-bottom: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 2rem;
}
.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}
.profilepic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
}
.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}
.home_content h1 {
  padding-bottom: 0.5rem;
}
.home_content h4 {
  color: gray;
  padding-bottom: 1rem;
}

.scroll_down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  height: 2vh;
  width: 0.1rem;
  background-color: #c6c6c6;
}

#about_me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.summary {
  max-width: 50rem;
  text-align: center;
}
#about_me .additionals {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.additionals h3 {
  padding: 1rem 0rem;
}
.educations {
  flex: 1;
  min-width: 30rem;
}
.achievements {
  flex: 1;
  min-width: 30rem;
}

.timeline {
  display: flex;
  flex-direction: row;
}
.timeline p {
  padding: 0.5rem 0.8rem;
}
.timeline h4 {
  padding: 0rem 0.8rem;
}
.timeline .content {
  border-left: 0.1rem black solid;
}

/* Project sections */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}
#projects h3 {
  padding-bottom: 2rem;
}
.project_card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 25rem;
  flex-wrap: wrap;
  padding: 2rem 0rem;
}
.project_card:nth-child(even) {
  flex-direction: row-reverse;
}
.project_card .preview {
  flex: 3;
  min-width: 20rem;
  margin: 0rem 2rem;
}

.project_card .content {
  flex: 4;
  min-width: 10rem;
}

.project_card .content h3 {
  margin: 1rem 0rem;
}

.project_card .content p {
  padding-bottom: 2rem;
  max-width: 85%;
}
.project_card .content a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 0.5rem 1rem;
}

/* contact */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

#contact h3 {
  padding-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 1rem 1.5rem;
  border: 0.05rem solid #c6c6c6;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}

textarea {
  padding: 1rem 1.5rem;
  border: 0.05rem solid #c6c6c6;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}
.form button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.social_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.social {
  margin-top: 1rem;
}
.social a {
  text-decoration: none;
  color: gray;
  margin: 0rem 0.5rem;
}

.social a:hover {
  color: #000;
}
